@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}





a {
	text-decoration: none;
	color: black;
}
ul li {
	white-space:nowrap;
	margin-left:4px;
	margin-right:4px;
	display:inline;
	cursor:pointer;
	float: left;
	font-size:12px;
	line-height: 28px;
	
}

.ul_div {
	
	padding-left: 8px;
}

img {
	border: 2px solid white;
}

img:HOVER {
	border: 2px solid #9a6c35;
}

#show_div {
	min-width:340px;
	width:95%;
	position:inherit;
	display: inline-block;
	
	float:left;
}

.dp_li {
	float: left;
	color: #4b4b4b;
}




.a_div {
	
	width: 100px;
	float: left;
	height: 160px;
	margin-left:10px;

	
}

.div_a {
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden; 
	text-align: left;
	width:80px;
	float: left;
	font-size: 12px;
	padding-left: 10px;
}
#style_ul
{width:100%;
float: left;
margin-left: 10px;display: inline-block;}
.style_a
{color: gray;}
.style_a1
{color: red;}
#series_ul
{width:100%;
float: left;
margin-left: 10px;display: inline-block;}
.series_a
{color: gray;}
.series_a1
{color: red;}
#second_ul
{width:100%;
float: left;
margin-left: 10px;display: inline-block;}
#first_ul
{width:100%;
float: left;
margin-left: 10px;display: inline-block;}
#third_ul
{width:100%;float: left;
margin-left: 10px;display: inline-block;}
#brand_ul
{width:100%;float: left;
margin-left: 10px;display: inline-block;}
.a_first
{color: gray;}
.a_first1
{color: red;}
.first_a
{color: gray;}
.first_a1
{color: red;}

.second_a
{color: gray;}
.second_a1
{color: red;}
.a_house{color:gray;}
.a_house1{color:red;}
.third_a
{color: gray;}
.third_a1
{color: red;}
.brand_a
{color: gray;}
.brand_a1
{color: red;}
#ssinput {
	margin-top: 1px;
	margin-left: 5px;
	width: 270px;
	height: 27px;
	line-height: 27px;
	font-size: 12px;
	border: 0;
}

#sss {
	margin-top: -29px;
	margin-bottom: 1px;
	margin-right: 1px; width : 35px;
	float: right;
	height: 26px;
	border: 1px solid white;
	width: 35px;
}

#sss:HOVER {
	border: 1px solid #9a6c35;
}
#ss {
	text-align: left;
	margin-top: 20px;
	margin-left:10px;
	width: 336px;
	height: 30px;
	background-image: url("/sample/images/ss.jpg");
}
#buttom_div
{
text-align: center;}
#buttom_div input
{margin-left: 5px;
margin-right: 5px;}
#refresh{margin-left: 100px;cursor: pointer;border: 0;width: 16px;height: 16px;background-image: url('/sample/images/refresh.png'); }
#refresh:HOVER {
	border: 1px solid gray;
}
.checkb{
	
	z-index: 999;
}
