//
产品特色css

.page1 {
	width: 100%;
	height: 100%;
	background-color: white;
	background-image: url('/sample/images/cpts/bg.png');
	position: absolute;
	z-index: -1;
}

.cpts {
	width: 100%;
	height: 55px;
	background-color: rgba(85, 85, 85, 0.7);
	margin-top: 0px;
}

.ctl1 {
	height: 45px;
	width: 130px;
	margin-left: 60px;
	margin-top: 5px;
	float: left;
}

.ctl2 {
	height: 40px;
	width: 40px;
	float: right;
	margin-right: 60px;
	margin-top: 8px;
}

.ccs {
	width: 68%;
	height: 75%;
	margin-left: 310px;
}

.citfont1 {
	height: 40px;
	width: 100%;
	text-align: center;
	font-size: 36em;
	font-family: MicrosoftYaHei;
	margin-top: 56px;
	color: #333333
}

.citfont2 {
	height: 20px;
	width: 100%;
	font-family: MicrosoftYaHei;
	font-size: 18em;
	text-align: center;
	color: #333333;
	margin-top: 57px;
}